{% extends 'base.html' %}

{% block header %}
    <h1 class="px-8 pt-4 mb-4 text-xl font-medium">{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST" class="px-8 pb-8">
        <label for="title">Title</label>
        <input name="title" value="{{ request.form['title'] }}" id="title" required class="block w-full px-2 py-1 border rounded-sm" />
        <label for="body" class="block mt-4">Body</label>
        <textarea name="body" id="body" class="block w-full px-2 py-1 border rounded-sm" required>{{ request.form['body'] }}</textarea>
        <div class="flex mt-5">
            <a href="{{ url_for('blog.index') }}" class="flex-1 p-3 mr-1 rounded font-bold hover:bg-gray-100 text-blue-500 text-center">Cancel</a>
            <button type="submit" class="flex-1 p-3 ml-1 rounded font-bold bg-blue-500 hover:bg-blue-600 text-white">Save</button>
        </div>
    </form>
{% endblock %}
